@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-900);
  --color-accent: var(--color-teal-600);

  --font-sans: "Inter", "Roboto", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans antialiased selection:bg-teal-200 selection:text-teal-900 overflow-x-hidden;
  }
}

/* Custom Scrollbar for sleekness */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}